.wrap{
	background: blue;
	width: 600px;
	margin: 30px auto;
}
 
.wrap .header{
	background: red;
	padding: 2px 10px;
}
 
.wrap .menu{
	background: maroon;
}
 
.wrap .menu ul{
	padding: 100px;
	margin: 10px;
	background: deepskyblue;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.clear{
	clear: both;
}
 
.badan{
	height: 200px;
}


 
.wrap .footer{
	background: cyan;
	width: 96,5%;
	padding: 10px;
}